.scroll-progress-tracking-container {
  position: fixed;
  width: 105vw;
  left: -2vw;
  height: 10px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.scroll-progress-bar {
  height: 100%;
  width: 0;
  border-radius: 100px;
  background: linear-gradient(to right, #f97316, #e11d48, #ef4444);
}
